* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none !important;
}
a {
  text-decoration: none !important;
}
body {
  font-family: "Chivo";
  font-family: "Shippori Mincho";
}
