.aboutFlipkartContainer {
  padding: 0 25px;
  background: #fff;
  .aboutFlipkartBody {
    line-height: 16px;
    font-size: 11px;
    margin: 30px 0 15px;
    .aboutFlipkartHeader {
      color: #878787;
      h1 {
        color: #878787;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      h2 {
        color: #878787;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}
